<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Welcome to Tweeter </h1>
    <a href="/"><button>Add Tweet </button></a>
    <% for (let i=0 ; i<articles.length; i++){ %>
        <h3>
            <%= articles[i].title %>
        </h3>
        <p>
            <%= articles[i].Article %>
        </p>
        <a href="/delete/<%= articles[i]._id %>"> <button> Delete </button></a>
        <a href="/update/<%= articles[i]._id %>"> <button> Edit</button></a>
      
        <% } %>
       


</body>

</html>