<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editArticle/<%=Artcl._id %>" method="post">
        <br>
        <input value="<%= Artcl.title %>" name="title" type="text">
        <br>
        <br>
        <textarea   name="Article" id=""><%= Artcl.Article %></textarea>
        <button>Save</button>
    </form>
    
</body>
</body>
</html>